<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Archetype Created Web Application</display-name>
  	<!--配置上下文，Spring的ContextLoaderListener类会自动加载contextConfigLocation的value值，如果没有指定的话，默认会去/WEB-INF/下加载applicationContext.xml -->
  	<context-param>
  		<param-name>contextConfigLocation</param-name> 
  		<param-value>classpath:spring/*.xml</param-value>
  		<!-- <param-value>classpath:spring/applicationContext.xml</param-value> -->
  	</context-param>
  	
  	<!--启动Spring的监听,ContextLoaderListener实现了ServletContextListener接口，当ServletContext初始化时，就会初始化spring上下文（ioc容器）WebapplicationContext-->
  	<listener> 
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	
  	<!--字符串过滤配置，默认为UTF-8的字符类型 -->
  	<filter> 
  		<filter-name>characterEncodingFilter</filter-name>
  		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>UTF-8</param-value>
  		</init-param>
  		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping> 
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>contactServlet</servlet-name>
		<servlet-class>com.servlet.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contactServlet</servlet-name>
		<url-pattern>/servlet/contactServlet.do</url-pattern>
	</servlet-mapping>
</web-app>
